# Include the README
include *.md

# Include the license file
include LICENSE
include AUTHORS

# Development support files
include Makefile
include pyproject.toml
include setup.py
include .style.yapf

# Examples
graft examples

# Tests
graft tests

# Docs
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs *.yml
recursive-include docs *.png
recursive-include docs Makefile
recursive-include tests *
prune docs/_*
prune docs/env

# textx based parser
recursive-include fasm/parser *.tx

# Excludes
global-exclude .git
global-exclude __pycache__
global-exclude *.pyc
exclude .gitmodules
prune third_party
prune .github
